/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    filter: grayscale(40%);
    filter: blur(1px);
}

img,
input {
    width: 100%;
    vertical-align: bottom;
}


/* REGLAGES BODY */

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
}


/* HEADER */

header {
    width: 100%;
    height: 90vh;
    background-image: url(../img/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

header div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 3vh;
    line-height: 12vh;
    font-weight: 600;

}

#let-me-see {
    font-size: 40px;
    padding: 10px 20px;
}

#header-open {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 25px;

}

header p {
    background-color: black;
    padding: 5px 10px;
}

/* MAIN */
/* SECTION THE MENU */

#the-menu {
    width: 100%;
    background-color: black;
    padding: 10vh 3vw 10vh 3vw;
}

h2 {
    color: white;
    text-align: center;
    font-size: 4.5rem;
    font-weight: lighter;
    padding-bottom: 5vh;

}

#the-menu h2 {
    padding-bottom: 10vh;
}

#choix-menu {
    font-size: 2.5rem;
    /* width: 90vw; */
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 1px 0px #ffffff;
}

#liste-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    list-style-type: none;
    text-align: center;
}

#liste-menu li {
    width: 33.33%;
    padding: 1rem 0;
}

#liste-menu li:hover {
    background-color: red;
    cursor: pointer;
}

.meal-description {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.name-price {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.name-price p {
    background-color: rgb(107, 105, 105);
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

.meal-description>p {
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 1rem 1.5rem 1.5rem 0;
    line-height: 4rem;
}

.meal-description p {
    border-bottom: 1px rgb(247, 235, 235) solid;
}

#noborder {
    border-bottom: none;
}

h3:hover {
    text-shadow: 5px 5px 13px #000000;
}

.hot,
.new {
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-weight: lighter;
    text-shadow: none;
}

.hot {
    background-color: red;
    color: white;
}

.new {
    background-color: rgb(163, 161, 161);

}

/* SECTION ABOUT */

#about {
    width: 100%;
    background-color: #8C5F5A;
    color: white;
    padding: 10vh 3vw 10vh 3vw;
}

#text-about {

    font-size: 1.6rem;
    font-weight: 500;
}

#text-about div {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 -3rem 0;
}

#text-about div img {
    border-radius: 48%;
    width: 45%;
    max-width: 200px;
}

#text-about div p,
.texte-chef {
    width: 50%;
}

#photo-restaurant {
    padding: 5vh 0;
}

.texte-gras {
    font-weight: 600;
}

h4 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 5vh;
}

#planning {
    display: flex;
    flex-direction: column;
    position: relative;
    list-style-type: none;
    line-height: 6vh;
    padding-bottom: 5vh;
}

#planning span {
    position: absolute;
    left: 50%;
}

/* SECTION MAP */

#map iframe {
    width: 100%;
    height: 60vh;
}

/* SECTION CONTACT */

#contact {
    width: 100%;
    background-color: #6B7A81;
    color: white;
    padding: 10vh 3vw 5vh 3vw;
    margin: auto;
}

#contact p {
    margin-bottom: 5vh;
    line-height: 4.5vh;
}

.text-border {
    background-color: black;
    color: white;
    padding: 0.5vh 2vw;
}

.texte-grand {
    font-size: 2.5rem;
}

#contact input {

    padding: 2.5vh 1vh;
    font-family: "amaticsc", sans-serif;
    font-size: 1.5rem;
}

#contact form div {
    margin-bottom: 2vh;
}

#submit {
    
}

#submit input {  
    background-color: #a6dad7;
    padding: 1vh 1vh;
    border: none;
}

#submit input {
}

/* FOOTER */

footer {
    width: 100%;
    height: 25vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
    header {
        height: 60vh;
    }

    #the-menu, #about, #contact {
        padding-left: 15vw; 
        padding-right: 15vw;
    }
    
    #contact input {

        padding: 1.5vh 1vh;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        height: 80vh;
    }
    #choix-menu {
    box-shadow: 0px 0px 2px 0px #ffffff;
    }
} 
